fastapi==0.115.0
uvicorn==0.30.6

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4

faiss-cpu==1.8.0.post1
sentence-transformers==2.7.0

pydantic==2.8.2
python-dotenv==1.0.1
tqdm==4.66.5

wikipedia-api==0.6.0

langchain-groq==0.1.9
langchain-huggingface==0.0.3

pyyaml==6.0.2